@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewFazenda

@{

    ViewBag.Title = "Fazenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<section class="section">
    <div class="tablecontainer">
        <div class="section-header">
            <h1>Fazenda</h1>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Áreas</h4>
                            <div class="card-header-form">
                                <a class="popup btn btn-primary btn-lg btn-block btn-icon-split" href="/Sistema/Area/Create">Nova área</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Disponibilidade</th>
                                        <th>Tamanho</th>
                                        <th>Tipo de solo</th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.Areas)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Disponibilidades.Where(x => x.Value == item.Disp.ToString()).First().Text)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tamanho) ha</td>
                                            <td>@Html.DisplayFor(modelItem => item.Solo.Nome)</td>
                                            <td>
                                                <a class="popup btn" href="@Url.Action("Detalhes", "Area", new { id = item.Id })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Area", new { id = item.Id})"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Area", new { id = item.Id})"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Solos</h4>
                            <div class="card-header-form">
                                <a class="popup btn btn-primary btn-lg btn-block btn-icon-split" href="/Sistema/Solo/Create">Novo solo</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Tipo</th>
                                        <th>Incidência solar</th>
                                        <th>Incidência do vento</th>

                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.Solos)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tipos.Where(x => x.Value == item.Tipo.ToString()).First().Text)</td>
                                            <td>@Html.DisplayFor(modelItem => item.IncSolar) %</td>
                                            <td>@Html.DisplayFor(modelItem => item.IncVento) %</td>
                                            <td>
                                                <a class="popup btn" href="@Url.Action("Detalhes", "Solo", new { id = item.Id })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Solo", new { id = item.Id})"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Solo", new { id = item.Id})"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Funcionários</h4>
                            <div class="card-header-form">
                                <a class="popup btn btn-primary btn-lg btn-block btn-icon-split" href="/Sistema/Funcionario/Create">Novo funcionário</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Função</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.Funcionarios)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Cargos.Where(x => x.Value == item.Funcao.ToString()).First().Text)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Telefones)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>
                                                <a class="popup btn" href="@Url.Action("Detalhes", "Funcionario", new { id = item.Id })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Funcionario", new { id = item.Id})"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Funcionario", new { id = item.Id})"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/modalui.js"></script>
}
