@model OrganWeb.Areas.Sistema.Models.Safras.Plantio
@{
    ViewBag.Title = "Detalhes";
    string Sistema;
    Sistema = (string)ViewBag.sistema;

    string Periodo;
    Periodo = (string)ViewBag.periodo;
}
<h4>Detalhes</h4>
<dl class="dl-horizontal">
    <dt>
        @Html.LabelFor(model => model.Nome)
    </dt>
    <dd>@Html.DisplayFor(model => model.Nome)</dd>
    <dt>
        @Html.LabelFor(model => model.DataInicio)
    </dt>
    <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DataInicio))</dd>
    <dt>
        @Html.LabelFor(model => model.DataColheita)
    </dt>
    <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DataColheita))</dd>
    <dt>
        @Html.LabelFor(model => model.Sistema)
    </dt>
    <dd>@Html.DisplayFor(model => model.Sistemas.Where(x => x.Value == model.Sistema.ToString()).First().Text)</dd>
    <dt>
        @Html.LabelFor(model => model.Periodos)
    </dt>
    <dd>@Html.DisplayFor(model => model.Periodos.Where(x => x.Value == model.TipoPlantio.ToString()).First().Text)</dd>
</dl>