@model OrganWeb.Areas.Sistema.Models.Safras.Plantio
@{
    ViewBag.Title = "Detalhes";
    string Sistema;
    Sistema = (string)ViewBag.sistema;

    string Periodo;
    Periodo = (string)ViewBag.periodo;
}

<h2 class="modal-title">Detalhes</h2>

<dl class="dl-horizontal">
    @Html.LabelFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.DataColheita, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.DataColheita, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.Sistema, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.TextBox("Sistema", Sistema, new { htmlAttributes = new { @disabled = "disabled", @class = "campo campodis" } })</dd>

    @Html.LabelFor(model => model.Periodos, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.TextBox("Periodo", Periodo, new { htmlAttributes = new { @disabled = "disabled", @class = "campo campodis" } })</dd>
</dl>