@model OrganWeb.Areas.Sistema.Models.Safras.Plantio
@{
    ViewBag.Title = "Detalhes";
    string Sistema;
    Sistema = (string)ViewBag.sistema;

    string Periodo;
    Periodo = (string)ViewBag.periodo;
}

<h2 class="modal-title">Detalhes</h2>

<dl class="dl-horizontal">
    @Html.LabelFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DataInicio))</dd>

    @Html.LabelFor(model => model.DataColheita, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DataColheita))</dd>

    @Html.LabelFor(model => model.Sistema, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.DisplayFor(model => model.Sistemas.Where(x => x.Value == model.Sistema.ToString()).First().Text)</dd>

    @Html.LabelFor(model => model.Periodos, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.DisplayFor(model => model.Periodos.Where(x => x.Value == model.TipoPlantio.ToString()).First().Text)</dd>
</dl>