@model OrganWeb.Areas.Sistema.Models.ViewEstoque
@{
    ViewBag.Title = "Estoque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estoque</h2>

<div class="main-body">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title box-title">Itens</h6>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ti-minus minimize-card"></i></li>
                            <li><i class="icon-refresh"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="card-content">
                            <div id="modal-placeholder"></div>
                            <button type="button" class="btn btn-info waves-effect" data-toggle="ajax-modal" data-target="#add-item">Novo item</button>
                            @{Html.RenderAction("_NovoItem", "Estoque");}
                        </div>
                        <table class="table">
                            <thead class="thead-title">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Categoria</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VwItems)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Item)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Quantidade) @Html.DisplayFor(modelItem => item.UnidadeMedida)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/Scripts/crudmodal.js" asp-append-version="true" defer></script>
</environment>

<environment exclude="Development">
    <script src="~/js/crudmodal.min.js" asp-append-version="true" defer></script>
</environment>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
        integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
        integrity="sha256-paoxpct33kY9fpQlvgC8IokjGq8iqYaVFawgFPg8oz0="
        crossorigin="anonymous"></script>