@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewEstoque
@using PagedList.Mvc;
@{
    ViewBag.Title = "Estoque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="~/Scripts/popper.min.js"></script>

<div class="main-body">
    <div class="row">
        <div class="col">
            <div class="tablecontainer">
                <div class="row">
                    <h6 class="body-title">Estoque</h6>
                    @using (Html.BeginForm("Index", "Estoque", FormMethod.Get))
                    {
                        <div class="col-6">
                            <div class="table-data__tool">
                                Filtro: @Html.DropDownList("filtros", "Todos")

                                Pesquisa: @Html.TextBox("textoPesquisa")
                                <input type="submit" value="Filtro" />

                            </div>
                        </div>
                    }
                    <div class="col-6">
                        <p class="card-text">
                            <a class="popup btn btn-add" href="/Sistema/Estoque/Create">Novo insumo</a>
                        </p>
                    </div>
                </div>

                <div class="card table-card col">
                    <div class="card-header">
                        <h6 class="card-title box-title">Itens</h6>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="ti-minus minimize-card"></i></li>
                                <li><i class="icon-refresh"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table-hover">
                                <thead class="thead-title">
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VwItems)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Item)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
                                            <td>

                                                <a class="popup btn" href="@Url.Action("Detalhes", "Estoque", new { id = item.Id, tipo = item.Tipo  })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Estoque", new { id = item.Id, tipo = item.Tipo })"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Estoque", new { id = item.Id, tipo = item.Tipo })"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            Página @(Model.VwItems.PageCount < Model.VwItems.PageNumber ? 0 : Model.VwItems.PageNumber) de @Model.VwItems.PageCount

                            @Html.PagedListPager(Model.VwItems, page => Url.Action("Index",
                                new { page }), new PagedListRenderOptions
                                {
                                    LiElementClasses = new string[] { "pagination page-item p1" }
                                })
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title box-title">Histórico de alterações</h6>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ti-minus minimize-card"></i></li>
                            <li><i class="icon-refresh"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card table-card">
                    <div class="card-block">
                        <!--<div class="table-responsive">-->
                        <table class="table-hover">
                            <thead class="thead-title">
                                <tr>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VwHistoricos)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DataAlteracao)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Quantidade) @Html.DisplayFor(modelItem => item.UnidadeMedida)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title box-title">Fornecedor</h6>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ti-minus minimize-card"></i></li>
                            <li><i class="icon-refresh"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card table-card">
                    <div class="card-block">
                        <div class="tablecontainer">
                            <a class="popup btn btn-add" href="/Sistema/Fornecedor/Create" style="margin-bottom:20px; margin-top:20px;">Novo Fornecedor</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table-hover">
                                <thead class="thead-title">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Telefones</th>
                                        <th scope="col">Email</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Fornecedors)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RazaoSocial)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Telefones)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>
                                                @Html.ActionLink("Editar", "Editar", "Fornecedor", new { id = item.Id }, null) |
                                                @Html.ActionLink("Detalhes", "Detalhes", "Fornecedor", new { id = item.Id }, null) |
                                                @Html.ActionLink("Excluir", "Excluir", "Fornecedor", new { id = item.Id }, null)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/modalui.js"></script>
}
