@model OrganWeb.Areas.Sistema.Models.Financas.DespesaAdm

<div>
    <h4>Despesa Administrativa</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Conta.Id)
        @Html.HiddenFor(model => model.Despesa.Id)
        @Html.HiddenFor(model => model.IdDespesa)
        @Html.HiddenFor(model => model.IdConta)

        <dt>@Html.DisplayNameFor(model => model.Conta.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Conta.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Despesa.Data)</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Despesa.Data))</dd>

        <dt>@Html.DisplayNameFor(model => model.Despesa.ValorPago)</dt>
        <dd>R$ @Html.DisplayFor(model => model.Despesa.ValorPago)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.IdConta, id2 = Model.IdDespesa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
