@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewCompra

<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Compra.Data)</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Compra.Data))</dd>

        <dt>@Html.DisplayNameFor(model => model.Compra.Desconto)</dt>
        <dd>R$ @Html.DisplayFor(model => model.Compra.Desconto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Compra.Fornecedor)</dt>
        <dd>@Html.DisplayFor(model => model.Compra.Fornecedor.Pessoa.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Pagamento.QtdParcelas)</dt>
        <dd>@Html.DisplayFor(model => model.Compra.Pagamento.QtdParcelas)</dd>

        <dt>@Html.DisplayNameFor(model => model.Pagamento.VlParcela)</dt>
        <dd>R$ @Html.DisplayFor(model => model.Compra.Pagamento.VlParcela)</dd>

        <dt>@Html.DisplayNameFor(model => model.Pagamento.Tipo)</dt>
        <dd>@ViewBag.Tipo</dd>

        <dt>Itens</dt>
        @foreach (var item in Model.VwItems)
        {
            <dd>@Html.DisplayFor(m => item.Item)</dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Compra.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
