@model OrganWeb.Areas.Sistema.Models.ViewsBanco.Pessoa.VwFuncionario

<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargos.Where(x => x.Value == model.Funcao.ToString()).First().Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
