
@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewFuncionario
@{
    ViewBag.Title = "Funcionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-body">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title box-title">Funcionario</h6>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ti-minus minimize-card"></i></li>
                            <li><i class="icon-refresh"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    


                    <table class="table">
                        <thead class="thead-title">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Sobrenome</th>
                                <th scope="col">Cargo</th>
                                <th scope="col">CPF</th>
                                <th scope="col">RG</th>
                                <th scope="col">DataNascimento</th>
                                <th scope="col">Email</th>
                                <th scope="col">Salario</th>
                                <th scope="col">GrauInstrucao</th>
                                <th scope="col">DataContratacao</th>
                                <th scope="col">TipoContratacao</th>
                                <th scope="col">PeriodoContratacao</th>
                                <th scope="col">CEP</th>
                                <th scope="col">Numero</th>

                            </tr>

                        </thead>

                        @*   <tbody>
        @foreach (var item in Model.Funcionario)
            {
        <tr>
            <th scope="row"></th>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Sobrenome)</td>
            <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
            <td>@Html.DisplayFor(modelItem => item.CPF)</td>
            <td>@Html.DisplayFor(modelItem => item.RG)</td>
            <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Salario)</td>
            <td>@Html.DisplayFor(modelItem => item.GrauInstrucao)</td>
            <td>@Html.DisplayFor(modelItem => item.DataContratacao)</td>
            <td>@Html.DisplayFor(modelItem => item.TipoContratacao)</td>
            <td>@Html.DisplayFor(modelItem => item.PeriodoContratacao)</td>
            <td>@Html.DisplayFor(modelItem => item.CEP)</td>
            <td>@Html.DisplayFor(modelItem => item.Numero)</td>





        </tr>
            }
                        *@



</div>
                </div>
            </div>
          

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="modal-placeholder"></div>
<div class="modal fade" id="newmodal" tabindex="-1" role="dialog" data-backdrop="static" />

<environment include="Development">
    <script src="~/Scripts/crudmodal.js" asp-append-version="true" defer></script>
</environment>

<environment exclude="Development">
    <script src="~/js/crudmodal.min.js" asp-append-version="true" defer></script>
</environment>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
        integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
        integrity="sha256-paoxpct33kY9fpQlvgC8IokjGq8iqYaVFawgFPg8oz0="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

@section scripts{

    <script>
   
        $(function () {



            $(".delete").click(function () {
                var url = $(this).data('url');

                $("#newmodal").load(url, function () {
                    $("#newmodal").modal("show");
                    $("#modal-placeholder").modal("show");
                })
            });

        })
    </script>
}


