@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewFinanceiro

@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-body">
    <div class="row">
        <div class="col-md-8">

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="card-content">
                            <a class="popup btn btn-add" href="/Sistema/Compra/Create" style="margin-bottom:20px; margin-top:20px;">Nova compra</a>
                            <a class="popup btn btn-add" href="/Sistema/Despesa/Create" style="margin-bottom:20px; margin-top:20px;">Nova despesa</a>
                            <a class="popup btn btn-add" href="/Sistema/Compra/Create" style="margin-bottom:20px; margin-top:20px;">Nova venda</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--SALDO

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title box-title">Saldo</h6>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="ti-minus minimize-card"></i></li>
                                <li><i class="icon-refresh"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            @*@foreach (var item in Model.VwSaldos)
                            {
                                <p>R$ @Html.DisplayFor(modelItem => item.Saldo)</p>
                            }*@
                        </div>
                    </div>
                </div>
            </div>-->
            <!--COMPRAS-->

            <div class="card">
                <div class="card-header">
                    <h6 class="card-title box-title">Compras</h6>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="ti-minus minimize-card"></i></li>
                            <li><i class="icon-refresh"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <table class="table">
                            <thead class="thead-title">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Estoque</th>
                                    <th scope="col">Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VwCompras)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Compra)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Data)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ItensQtd)</td>
                                        <td>R$ @Html.DisplayFor(modelItem => item.ValorTotal)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
