@model OrganWeb.Areas.Sistema.Models.Financas.DespesaFunc

<div>
    <h4>Despesa de funcionário</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Funcionario.Id)
        @Html.HiddenFor(model => model.Despesa.Id)
        @Html.HiddenFor(model => model.IdDespesa)
        @Html.HiddenFor(model => model.IdFunc)

        <dt>@Html.DisplayNameFor(model => model.Funcionario.Pessoa.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Funcionario.Pessoa.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Despesa.Data)</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Despesa.Data))</dd>

        <dt>@Html.DisplayNameFor(model => model.Despesa.ValorPago)</dt>
        <dd>R$ @Html.DisplayFor(model => model.Despesa.ValorPago)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdFunc, id2 = Model.IdDespesa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
