@model OrganWeb.Areas.Ecommerce.Models.Vendas.Pedido

@{
    Layout = null;
}

@if (!Request.IsAuthenticated)
{
    <br />
    <h6>Faça login para finalizar sua compra!</h6>
    <div>
        @Html.ActionLink("Login", "Login", "Account")
    </div>
    return;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Data)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.IdAnuncio)
        @Html.HiddenFor(model => model.IdUsuario)

        <div class="form-horizontal">
            <h4>Pedido</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Anuncio.Produto.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Anuncio.Produto.ValorUnit)
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Carrinhos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anuncio.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anuncio.Produto.ValorUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qtd)
                        </td>
                    </tr>
                }
            </table>
            @Html.DisplayFor(model => model.Subtotal)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Criar pedido" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @{
        if (ViewBag.SuccessMessage != null)
        {
            <div>
                @ViewBag.SuccessMessage
                @Html.ActionLink("Acompanhe seu pedido", "Index", "Pedido")
            </div>
        }
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
