@model OrganWeb.Areas.Sistema.Models.Ferramentas.ManutencaoMaquina

<div id="modal-placeholder"></div>
<div class="modal fade" id="add-item" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="card-title box-title"><i class="icofont icofont-plant"></i>Nova manutenção</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_NovaManutencao">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="form-group row">
                        <label class="col-sm-8 col-form">@Html.LabelFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "form-control" } })</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                            @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label">@Html.LabelFor(model => model.Manutencao.DataManuntencao, new { htmlAttributes = new { @class = "form-control" } })</label>
                        <div class="col-sm-6">
                            <div class="input-group date">
                                <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-ui-calendar"></i></span>
                                @Html.EditorFor(model => model.Manutencao.DataManuntencao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data" } })
                                @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.DataManuntencao, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-8 col-form">@Html.LabelFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control" } })</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Detalhes" } })
                            @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Detalhes, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        @Html.DropDownListFor(model => model.IdMaquina, new SelectList(Model.Maquinas, "Id", "Nome", Model.IdMaquina), "Selecionar máquina")
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Novo</button>
                        </div>
                        @Html.ValidationMessageFor(modelItem => modelItem.IdMaquina, "", new { @class = "text-danger" })
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success m-b-0" data-save="ajax-modal">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>