@model OrganWeb.Areas.Sistema.Models.Ferramentas.MaquinaManutencao

@using (Html.BeginForm("_NovaManutencao", "Manutencao", FormMethod.Post))
{
    @Html.AntiForgeryToken()

                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                <div class="form-group row">
                    <label class="col-sm-8 col-form">@Html.LabelFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "form-control" } })</label>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome" } })
                        @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">@Html.LabelFor(model => model.Manutencao.Data, new { htmlAttributes = new { @class = "form-control" } })</label>
                    <div class="col-sm-6">
                        <div class="input-group date">
                            <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-ui-calendar"></i></span>
                            @Html.EditorFor(model => model.Manutencao.Data, new { htmlAttributes = new { @class = "form-control", @placeholder = "Data" } })
                            @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Data, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-8 col-form">@Html.LabelFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control" } })</label>
                    <div class="col-sm-8">
                        @Html.EditorFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Detalhes" } })
                        @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Detalhes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="input-group mb-3">
                    @Html.DropDownListFor(model => model.IdMaquina, new SelectList(Model.Maquinas, "IdEstoque", "Nome", Model.IdMaquina), "Selecionar máquina")
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Novo</button>
                    </div>
                    @Html.ValidationMessageFor(modelItem => modelItem.IdMaquina, "", new { @class = "text-danger" })
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success m-b-0" data-save="ajax-modal">Adicionar</button>
                </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
