@model OrganWeb.Areas.Sistema.Models.Ferramentas.MaquinaManutencao
@{
    ViewBag.Title = "Detalhes";
}

<h4 class="modal-title">Detalhes</h4>
<dl class="dl-horizontal">
    @Html.LabelFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.Maquina, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.Maquina.Nome, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.Manutencao.Data, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Manutencao.Data))</dd>

    @Html.LabelFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>

    @Html.LabelFor(model => model.Manutencao.ValorPago, new { htmlAttributes = new { @class = "form-control" } })
    <dd>@Html.EditorFor(model => model.Manutencao.ValorPago, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })</dd>
</dl>