@model OrganWeb.Areas.Sistema.Models.Ferramentas.MaquinaManutencao
@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>
<div>
    <h4>Manutenção</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Manutencao.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Manutencao.Nome)</dd>

        <dt>Máquina</dt>
        <dd>@Html.DisplayFor(model => model.Maquina.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Manutencao.Data)</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Manutencao.Data))</dd>

        <dt>@Html.DisplayNameFor(model => model.Manutencao.Detalhes)</dt>
        <dd>@Html.DisplayFor(model => model.Manutencao.Detalhes)</dd>

        <dt>@Html.DisplayNameFor(model => model.Manutencao.ValorPago)</dt>
        <dd>R$ @Html.DisplayFor(model => model.Manutencao.ValorPago)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdManutencao, id2 = Model.IdMaquina }) |
    @Html.ActionLink("Voltar", "Index")
</p>