@model OrganWeb.Areas.Sistema.Models.Ferramentas.MaquinaManutencao

@using (Html.BeginForm("Editar", "Manutencao", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4 class="modal-title">Editar manutenção</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdManutencao)
    @Html.HiddenFor(model => model.IdMaquina)

    <div class="form-group">
        <div class="col">
            @Html.LabelFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col">
            @Html.EditorFor(model => model.Manutencao.Nome, new { htmlAttributes = new { @class = "campodis" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col">
            @Html.LabelFor(model => model.Maquina.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col">
            <!--CRIAR UMA LISTA-->
            @Html.EditorFor(model => model.Maquina.Nome, new { htmlAttributes = new { @disabled = "disabled", @class = "campodis" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Maquina.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Manutencao.Data, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-sm-6">
            @Html.LabelFor(model => model.Manutencao.ValorPago, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-sm-6">
            <div class="input-group date">
                @Html.EditorFor(model => model.Manutencao.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Data, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(model => model.Manutencao.ValorPago, new { htmlAttributes = new { @class = "form-control campo", @placeholder = "Valor pago (R$)" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.ValorPago, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col">
            @Html.LabelFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col">
            @Html.EditorFor(model => model.Manutencao.Detalhes, new { htmlAttributes = new { @class = "form-control campo", @placeholder = "Detalhes" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Manutencao.Detalhes, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
<button type="submit" class="btn btn-addmodal" data-save="ajax-modal">Salvar</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}