@model OrganWeb.Areas.Sistema.Models.Ferramentas.MaquinaManutencao

<h3>Deseja deletar esse registro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Manutencao.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Manutencao.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Manutencao.Data)</dt>
        <dd>@Html.DisplayFor(model => model.Manutencao.Data)</dd>

        <dt>@Html.DisplayNameFor(model => model.Manutencao.Detalhes)</dt>
        <dd>@Html.DisplayFor(model => model.Manutencao.Detalhes)</dd>

        <dt>@Html.DisplayNameFor(model => model.Manutencao.ValorPago)</dt>
        <dd>R$ @Html.DisplayFor(model => model.Manutencao.ValorPago)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.HiddenFor(model => model.IdManutencao)
        @Html.HiddenFor(model => model.IdMaquina)
        <input type="submit" value="Excluir" class="btn btn-default" />
        &nbsp;@Html.ActionLink("Cancelar", "Index")
    </div>
    }
</div>