@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewManutencao
@{
                /**/

                ViewBag.Title = "Manutenção";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<div class="main-body">
    <div class="row">
        <div class="col">
            <div class="tablecontainer">

                <div class="row">
                    <div class="col-6">
                        <div class="table-data__tool">
                            <h6 class="body-title">Manutenções</h6>
                            <div class="selectdropdown">
                                <select class="js-select2" name="property">
                                    <option selected="selected">Todas as propriedades</option>
                                    <option value="">Opção 1</option>
                                    <option value="">Opção 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>

                            <div class="selectdropdown">
                                <select class="js-select2 ui dropdown" name="time">
                                    <option selected="selected">Todos</option>
                                    <option value="">Hoje</option>
                                    <option value="">Essa semana</option>
                                    <option value="">Este mês</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <p class="card-text">
                            <a class="popup btn btn-add" href="/Sistema/Manutencao/Create">+ Nova manutenção</a>
                        </p>
                    </div>
                </div>
                <div class="card table-card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table-hover">

                                <thead class="thead-title">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Máquina</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.MaquinaManutencaos)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => item.Manutencao.Nome)</td>
                                            <td>@Html.DisplayFor(model => item.Maquina.Nome)</td>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Manutencao.Data))
                                            </td>
                                            <td>@Html.DisplayFor(model => item.Manutencao.ValorPago)</td>
                                            <td>

                                                <a class="popup btn" href="@Url.Action("Detalhes", "Manutencao", new { id = item.IdManutencao, id2 = item.IdMaquina })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Manutencao", new { id = item.IdManutencao, id2 = item.IdMaquina })"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Manutencao", new { id = item.IdManutencao, id2 = item.IdMaquina })"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/modalui.js"></script>
}
