@model OrganWeb.Areas.Ecommerce.Models.Usuarios.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/registro.css")
</head>
<body class="form-v7">
    <div class="col logo-reg">
        <img src="~/Imagens/logo.png" alt="form">
    </div>
    <div class="page-content">
        <div class="form-v7-content">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-detail", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                /*@Html.ValidationSummary("", new { @class = "text-danger" })*/

                <p class="text-1">Bem vindo(a) de volta!</p>
                <br>
                <div class="form-row">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <br>
                <div class="form-row">
                    @Html.LabelFor(model => model.Password, new { @class = "form-label" })
                    @Html.PasswordFor(model => model.Password, new { @class = "input-text" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    <div class="col-9">
                        @Html.ActionLink("Esqueceu a Senha?", "ForgotPassword", new { htmlAttributes = new { @class = "form-label" } })
                    </div>
                    <div class="col-3">
                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.RememberMe, new { htmlAttributes = new { @class = "text-left" } })
                        @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Login">
                    <p>ou<a href="/Ecommerce/Account/registro">Registre-se</a></p>
                </div>
            }
            <div class="form-left">
                <img src="~/Imagens/login.png" alt="form">
                <!--<p class="text-2">Termos de uso</p>-->
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>





