@model OrganWeb.Areas.Ecommerce.Models.Usuarios.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

<!--PRODUTOS-->
<!-- Products tab & slick -->
<div class="container">
    <div class="row">
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
        <!-- product -->
        <div class="col-md-6 col-lg-3">
            <div class="product">
                <div class="product-img">
                    <img src="~/Imagens/milho.png" alt="">
                    <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NOVO</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Sementes</p>
                    <h3 class="product-name"><a href="#">Grão de milho / <i class="icon-room"></i>Sorriso, MT</a></h3>
                    <h4 class="product-price">R$14,99 <del class="product-old-price">R$15,00</del></h4>
                    <div class="product-rating">
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star2"></i>
                        <i class="icon-star_border"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="icon-heart-o"></i><span class="tooltipp">Adicionar na wishlist</span></button>
                        <button class="add-to-compare"><i class="icon-add_shopping_cart"></i><span class="tooltipp">Adicionar no carrinho</span></button>
                        <button class="quick-view"><i class="icon-info_outline"></i><span class="tooltipp">Detalhes</span></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /product -->
    </div>
</div>


<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Registro", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>Crie uma nova conta.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Foto, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="Foto" id="fileUpload" accept=".png,.jpg,.jpeg" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CPF, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registrar-se" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
