@model OrganWeb.Areas.Sistema.Models.Safras.Semente

<div>
    <h4>Semente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncSol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncSol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncVento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncVento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acidez)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acidez)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEstoque }) |
    @Html.ActionLink("Back to List", "Index")
</p>
