@model OrganWeb.Areas.Sistema.Models.Safras.Semente

<div>
    <h4>Semente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        @if (Model.Desc != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Desc)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Desc)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Estoque.Qtd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estoque.Qtd) @Html.DisplayFor(model => model.Estoque.UM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estoque.Fornecedor.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estoque.Fornecedor.Nome)
        </dd>
    </dl>
</div>
