@model OrganWeb.Areas.Sistema.Models.Safras.Colheita

<div>
    <h4>Colheita</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.IdPlantio)
        @Html.HiddenFor(model => model.IdProd)

        <dt>Nome do plantio</dt>
        <dd>@Html.DisplayFor(model => model.Plantio.Nome)</dd>

        <dt>Iniciado em:</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Plantio.DataInicio))<dd>

        <dt>Término previsto para:</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Plantio.DataColheita))<dd>

        <dt>Sistema:</dt>
        <dd>@ViewBag.Sistema<dd>

        <dt>Período:</dt>
        <dd>@ViewBag.Periodo<dd>

        <dt>@Html.DisplayNameFor(model => model.Data) da colheita</dt>
        <dd>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.Data))</dd>

        <dt>@Html.DisplayNameFor(model => model.QtdPerdas)</dt>
        <dd>@Html.DisplayFor(model => model.QtdPerdas)</dd>

        <dt>@Html.DisplayNameFor(model => model.QtdTotal)</dt>
        <dd>@Html.DisplayFor(model => model.QtdTotal)</dd>

        <dt>@Html.DisplayNameFor(model => model.Produto.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Produto.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Produto.Estoque.Qtd)</dt>
        <dd>@Html.DisplayFor(model => model.Produto.Estoque.Qtd)</dd>

        <dt>@Html.DisplayNameFor(model => model.Produto.Estoque.UM)</dt>
        <dd>@Html.DisplayFor(model => model.Produto.Estoque.UM)</dd>
    </dl>
</div>
