@model IEnumerable<OrganWeb.Areas.Sistema.Models.ViewsBanco.Estoque.VwColheita>

@{
    ViewBag.Title = "Colheita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataColheita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Situacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdColhida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdPerdida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plantio)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataColheita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdColhida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdPerdida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plantio)
        </td>
    </tr>
}

</table>
