@model IEnumerable<OrganWeb.Areas.Sistema.Models.Safras.Colheita>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdPerdas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdPerdas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdTotal)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IdPlantio }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id = item.IdPlantio }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = item.IdPlantio })
        </td>
    </tr>
}

</table>
