<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Organ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/mapa")
</head>
<body>
    <!--https://stackoverflow.com/questions/48550955/mvc-bootstrap-navbar-not-working-after-running-nuget-updates-->
    <!--Menu Lateral-->
    <div class="container-scroller">

        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="~/Imagens/logo.png" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/Imagens/icone.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span>
                            <i class="fa fa-bars"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item nav-search d-none d-lg-block w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Pesquisar" aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-window-maximize menu-icon"></i>
                            <span class="menu-title">@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "" })</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#plantio" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fa fa-seedling"></i>
                            <span class="menu-title">@Html.ActionLink("Plantio", "Index", "Plantio", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="plantio">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Colheita", "Index", "Colheita", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#controle" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fa fa-seedling"></i>
                            <span class="menu-title">Controles</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="controle">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Praga", "Index", "Praga", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Doenca", "Index", "Doenca", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#tarefa" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fa fa-seedling"></i>
                            <span class="menu-title">@Html.ActionLink("Tarefas", "Index", "Tarefa", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="controle">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Equipes", "Index", "Equipe", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#monitoramento" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-video"></i>
                            <span class="menu-title">@Html.ActionLink("Monitoramentos", "Index", "Monitoramento", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#estoque" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-warehouse"></i>
                            <span class="menu-title">@Html.ActionLink("Estoque", "Index", "Estoque", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="estoque">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Item", "Index", "VwItems", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                        <div class="collapse" id="estoque">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Sementes", "Index", "Semente", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#financeiro" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-warehouse"></i>
                            <span class="menu-title">@Html.ActionLink("Financeiro", "Index", "Financeiro", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="financeiro">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Compras", "Index", "Compra", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Fornecedor", "Index", "Fornecedor", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Despesas", "Index", "Despesa", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#fazenda" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-tree"></i>
                            <span class="menu-title">@Html.ActionLink("Fazenda", "Index", "Fazenda", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="fazenda">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Funcionário", "Index", "Funcionario", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Áreas", "Index", "Area", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#maquinas" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-tractor"></i>
                            <span class="menu-title">@Html.ActionLink("Máquinas", "Index", "Maquina", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="maquinas">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Manutenção", "Index", "Manutencao", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#maquinas" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-tractor"></i>
                            <span class="menu-title">@Html.ActionLink("E-commerce", "Index", "Venda", new { area = "Sistema" }, new { @class = "" })</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!--</div>--> <!--Fim lado direito-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/menu")
    @RenderSection("scripts", required: false)

</body>
</html>
