<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Organ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/mapa")

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
</head>
<body>
    <!--https://stackoverflow.com/questions/48550955/mvc-bootstrap-navbar-not-working-after-running-nuget-updates-->
    <!--Menu Lateral-->
    <div class="container-scroller">

         <nav class="navbar p-0 d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <a class="navbar-brand brand-logo" href="#"><img src="~/Imagens/logo.png" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="#"><img src="~/Imagens/icone.png" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span>
                            <i class="fa fa-bars"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <div class="barra"></div>
                @Html.Partial("_LoginPartial")
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <i class="far fa-window-maximize menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#insumo" aria-expanded="false" aria-controls="insumo">
                            <i class="menu-icon fas fa-tree"></i>
                            <span class="menu-title">Plantio e colheita</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="insumo">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Colheita", "Index", "Colheita", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Plantio", "Index", "Plantio", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#controle" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fa fa-bug"></i>
                            <span class="menu-title">Controles</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="controle">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Praga e Doença", "Index", "PragaOrDoenca", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#estoque" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-warehouse"></i>
                            <span class="menu-title">Estoque</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="estoque">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Sementes", "Index", "Semente", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Item", "Index", "VwItems", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Estoque", "Index", "Estoque", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#financeiro" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-money-check-alt"></i>
                            <span class="menu-title">Finanças</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="financeiro">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Financeiro", "Index", "Financeiro", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Compras", "Index", "Compra", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Fornecedor", "Index", "Fornecedor", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Despesas", "Index", "Despesa", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#fazenda" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-layer-group"></i>
                            <span class="menu-title">Administrativo</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="fazenda">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Funcionário", "Index", "Funcionario", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Áreas", "Index", "Area", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#maquinas" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-tractor"></i>
                            <span class="menu-title">Ferramentas</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="maquinas">
                            <ul class="nav flex-column sub-menu">
                                <li><a href="#">@Html.ActionLink("Máquinas", "Index", "Maquina", new { area = "Sistema" }, new { @class = "" })</a></li>
                                <li><a href="#">@Html.ActionLink("Manutenção", "Index", "Manutencao", new { area = "Sistema" }, new { @class = "" })</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="/Vendas/Index" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon fas fa-cart-arrow-down"></i>
                            <span class="menu-title">E-commerce</span>
                            <i class="menu-arrow"></i>
                        </a>
                    </li>

                </ul>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!--</div>--> <!--Fim lado direito-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/menu")
    @RenderSection("scripts", required: false)

</body>
</html>
