<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Organ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/mapa")

    <link href="~/Content/materialdesignicons.min.css" rel="stylesheet">

</head>
<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="far fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Notificações
                                <div class="float-right">
                                    <a href="#">Marcar como lido</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        Esse sistema é muito bom!
                                        <div class="time text-primary">Há 2 minutos</div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item">
                                    <div class="dropdown-item-icon bg-info text-white">
                                        <i class="far fa-user"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        Funcionário novo.
                                        <div class="time">10 horas atrás</div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">Ver tudo <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="#"><img src="~/Imagens/logo.png" alt="logo" /></a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="index.html"><img src="~/Imagens/icone.png" alt="logo" /></a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Painel</li>

                        <li><a class="nav-link" href="/Sistema/Home/Index"><i class="fas fa-th"></i> <span>&nbsp;&nbsp;&nbsp;Início</span></a></li>

                        <li class="menu-header">Fazenda</li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown"><i class="fas fa-tree"></i> <span>&nbsp;&nbsp;&nbsp;Cultivo</span></a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/Sistema/Plantio/Index">Plantio</a></li>
                                <li><a class="nav-link" href="/Sistema/Colheita/Index">Colheita</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link" href="/Sistema/PragaDoenca/Index"><i class="fas fa-bug"></i> <span>&nbsp;&nbsp;&nbsp;Pragas e doenças</span></a></li>
                        <li><a class="nav-link" href="/Sistema/Estoque/Index"><i class="fas fa-desktop"></i> <span>&nbsp;&nbsp;&nbsp;Estoque</span></a></li>
                        <li><a class="nav-link" href="/Sistema/Fazenda/Index"><i class="fas fa-area-chart"></i> <span>&nbsp;&nbsp;&nbsp;Áreas</span></a></li>

                        <li class="menu-header">Ecommerce</li>

                        <li><a class="nav-link" href="/Sistema/Vendas/Index"><i class="fas fa-shopping-cart"></i> <span>&nbsp;&nbsp;&nbsp;Vendas</span></a></li>
                        <li><a class="nav-link" href="/Sistema/Loja/Index"><i class="fas fa-shopping-bag"></i> <span>&nbsp;&nbsp;&nbsp;Loja</span></a></li>
                    </ul>
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split">
                            Contato
                        </a>
                    </div>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>

            <footer class="main-footer">
                <div class="footer-left">
                    Copyright &copy; 2018 <div class="bullet"></div> Experience Systems
                </div>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/organ.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/custom.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
