@model PagedList.IPagedList<OrganWeb.Areas.Ecommerce.Models.Vendas.Wishlist>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lista de desejos";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

<div class="hero-wrap hero-bread">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2">Início /</span><span class="mr-2">Lista de desejos</span></p>
                <h1 class="mb-0 bread">Lista de desejos</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    @if (!Request.IsAuthenticated)
    {
        <br />
        <h6>É necessário fazer login para salvar anúncios!</h6>
        <div>
            @Html.ActionLink("Login", "Login", "Account", new { Area = "", returnUrl = this.Request.RawUrl }, new {  })
        </div>
        return;
    }

    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Anúncio</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @using (Ajax.BeginForm("RemoverDaWishlist", new { idAnuncio = item.IdAnuncio }, new AjaxOptions { HttpMethod = "POST" }))
                        {
                            @Html.AntiForgeryToken()
                            <button class="btn" type="submit">
                                <i class="mdi mdi-close"></i>
                            </button>
                        }
                        @*<a class="btn fa fa-minus fa-small" value="@item.IdAnuncio"><i class="btn fa fa-minus fa-small"></i><span class="tooltipp" value="Remover da lista de desejos"></span></a>*@
                    </td>
                    <td>@Html.ActionLink(item.Anuncio.Nome, "Detalhes", "Anuncio", new { Area = "Ecommerce", id = item.IdAnuncio }, new { })</td>
                    <td>@item.Anuncio.Produto.ValorUnit</td>
                </tr>
            }
        </tbody>
    </table>
                    @using (Html.BeginForm("ApagarWishlist", "Wishlist", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                    <button class="btn" type="submit"><i class="fa fa-times"></i>&nbsp;&nbsp;Limpar lista de desejos</button>
                    }

            <div>
                <div class="col-md-12 text-center">
                    <div class="site-block-27">

                        <ul>
                            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page }), new PagedListRenderOptions
                             {
                             LiElementClasses = new string[] { "pagination page-item p1" }
                             })
                        </ul>
                    </div>
                </div>
            </div>
