@model PagedList.IPagedList<OrganWeb.Areas.Ecommerce.Models.Vendas.Wishlist>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

@if (!Request.IsAuthenticated)
{
    <br />
    <h6>É necessário fazer login para salvar anúncios!</h6>
    <div>
        @Html.ActionLink("Login", "Login", "Account")
    </div>
    return;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Anúncio</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Anuncio.Nome</td>
                <td>@item.Anuncio.Produto.ValorUnit</td>
                <td>
                    <form class="d-inline align-middle" asp-action="RemoverDoCarrinho"
                          asp-controller="Carrinho"
                          asp-route-idAnuncio="@item.IdAnuncio"
                          method="post">
                        <button class="btn fa fa-minus fa-small" aria-hidden="true"></button>
                    </form>
                    <form class="d-inline align-middle" asp-action="AddAoCarrinho"
                          asp-controller="ShoppingCart"
                          asp-route-idAnuncio="@item.IdAnuncio"
                          method="post">
                        <button class="btn fa fa-plus fa-small" aria-hidden="true"></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr style="border:0">
            <td>
                <form asp-action="ApagarCarrinho" method="post">
                    <button class="btn btn-link text-dark" asp-action="ApagarCarrinho">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Limpar lista de desejos
                    </button>
                </form>
            </td>
        </tr>
    </tfoot>
</table><br />
<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }), new PagedListRenderOptions
     {
     LiElementClasses = new string[] { "pagination page-item p1" }
     })
</div>
