@model PagedList.IPagedList<OrganWeb.Areas.Ecommerce.Models.Vendas.Wishlist>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lista de desejos";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

<div class="container">
    @if (!Request.IsAuthenticated)
    {
        <br />
        <h6>É necessário fazer login para salvar anúncios!</h6>
        <div>
            @Html.ActionLink("Login", "Login", "Account", new { Area = "" }, new { returnUrl = this.Request.RawUrl })
        </div>
        return;
    }

    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Anúncio</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Anuncio.Nome, "Anuncio", "Detalhes", new { Area = "Ecommerce" }, new { id = item.IdAnuncio })</td>
                    <td>@item.Anuncio.Produto.ValorUnit</td>
                    <td>
                        @using (Ajax.BeginForm("RemoverDaWishlist", new { idAnuncio = item.IdAnuncio }, new AjaxOptions { HttpMethod = "POST" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="btn" type="submit" value="Remover"/>
                        }
                        @*<a class="btn fa fa-minus fa-small" value="@item.IdAnuncio"><i class="btn fa fa-minus fa-small"></i><span class="tooltipp" value="Remover da lista de desejos"></span></a>*@
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr style="border:0">
                <td>
                    @using (Html.BeginForm("ApagarWishlist", "Wishlist", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <button class="btn btn-link text-dark" type="submit"><i class="fa fa-times"></i><span class="tooltipp" value="Limpar lista de desejos"></span></button>
                    }
                </td>
            </tr>
        </tfoot>
    </table><br />
    <div>
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }), new PagedListRenderOptions
         {
         LiElementClasses = new string[] { "pagination page-item p1" }
         })
    </div>
</div>