@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewVendas
@using PagedList.Mvc;

@{
    ViewBag.Title = "Vendas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>Data</th>
        <th>Anúncio - quantidade pedida</th>
        <th>Valor do frete</th>
        <th>Situação</th>
    </tr>

    @foreach (var item in Model.Pedidos)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.Data)</td>
            <td>@Html.DisplayFor(model => item.NomeAnuncioQtd)</td>
            <td>@Html.DisplayFor(model => item.ValorFrete)</td>
            <td>@Html.DisplayFor(model => item.Situacao)</td>
        </tr>
    }

</table>
<br />
Página @(Model.Pedidos.PageCount < Model.Pedidos.PageNumber ? 0 : Model.Pedidos.PageNumber) de @Model.Pedidos.PageCount

@Html.PagedListPager(Model.Pedidos, pagep => Url.Action("Index",
new { pagep }), new PagedListRenderOptions
{
LiElementClasses = new string[] { "pagination page-item p1" }
})

<table class="table">
    <tr>
        <th>Data</th>
        <th>Anúncio</th>
        <th>Valor total</th>
        <th>Valor do frete</th>
        <th>Situação</th>
    </tr>

    @foreach (var item in Model.Vendas)
    {
    <tr>
        <td>@Html.DisplayFor(model => item.Data)</td>
        <td>@Html.DisplayFor(model => item.NomeAnuncio)</td>
        <td>@Html.DisplayFor(model => item.ValorTotal)</td>
        <td>@Html.DisplayFor(model => item.Situacao)</td>
    </tr>
    }

</table>
<br />
Página @(Model.Vendas.PageCount < Model.Vendas.PageNumber ? 0 : Model.Vendas.PageNumber) de @Model.Vendas.PageCount

@Html.PagedListPager(Model.Vendas, pagep => Url.Action("Index",
new { pagep }), new PagedListRenderOptions
{
LiElementClasses = new string[] { "pagination page-item p1" }
})

