@model OrganWeb.Areas.Ecommerce.Models.ViewsBanco.VwPedido

@{
    ViewBag.Title = "Pedido";
}
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anunciante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anunciante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeAnuncioQtd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeAnuncioQtd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotalsDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotalsDesconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotalcDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotalcDesconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comprador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comprador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorFrete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorFrete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>
</div>
