@model OrganWeb.Areas.Sistema.Models.Administrativo.Area

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disp)
        </dt>

        <dd>
            @Html.DisplayFor(modelItem => modelItem.Disponibilidades.Where(x => x.Value == modelItem.Disp.ToString()).First().Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solo.Nome)
        </dd>

    </dl>
</div>