@model OrganWeb.Areas.Sistema.Models.Administrativo.Area

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="modal-title">Editar</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control campo" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                @Html.LabelFor(model => model.Disp, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.Disp, Model.Disponibilidades, new { htmlAttributes = new { @class = "form-control campo" } })
                @Html.ValidationMessageFor(model => model.Disp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                @Html.LabelFor(model => model.Tamanho, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col">
                @Html.EditorFor(model => model.Tamanho, new { htmlAttributes = new { @class = "form-control campo" } })
                @Html.ValidationMessageFor(model => model.Tamanho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                @Html.LabelFor(model => model.IdSolo, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.IdSolo, new SelectList(Model.Solos, "Id", "Nome"))
                @Html.ValidationMessageFor(model => model.IdSolo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-addmodal" data-save="ajax-modal">Editar</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
