@model OrganWeb.Areas.Sistema.Models.Administrativo.Area

<h3>Tem certeza que deseja deletar esse registro?</h3>
<div>
    <h4>Área</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Disp)</dt>
        <dd>@Html.DisplayFor(modelItem => modelItem.Disponibilidades.Where(x => x.Value == modelItem.Disp.ToString()).First().Text)</dd>

        <dt>@Html.DisplayNameFor(model => model.Tamanho)</dt>
        <dd>@Html.DisplayFor(model => model.Tamanho)</dd>

        <dt>@Html.DisplayNameFor(model => model.IdSolo)</dt>
        <dd>@Html.DisplayFor(model => model.Solo.Nome)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
