@model OrganWeb.Areas.Sistema.Models.Administrativo.Solo

<div>
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Tipo)</dt>
        <dd>@Html.DisplayFor(model => model.Tipos.Where(x => x.Value == model.Tipo.ToString()).First().Text)</dd>

        <dt>@Html.DisplayNameFor(model => model.IncSolar)</dt>
        <dd>@Html.DisplayFor(model => model.IncSolar)</dd>

        <dt>@Html.DisplayNameFor(model => model.IncVento)</dt>
        <dd>@Html.DisplayFor(model => model.IncVento)</dd>
    </dl>
</div>
