@model OrganWeb.Areas.Sistema.Models.Armazenamento.Maquina

<div>
    <h4>Máquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        @if (Model.Desc != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Desc)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Desc)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Estoque.Qtd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estoque.Qtd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estoque.UM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estoque.UM)
        </dd>

    </dl>
</div>