@model OrganWeb.Areas.Sistema.Models.Armazenamento.Maquina

<h3>Tem certeza que deseja deletar esse registro?</h3>
<div>
    <h4>Máquina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipos.Where(x => x.Value == model.Tipo.ToString()).First().Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VidaUtil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VidaUtil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorInicial)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.ValorInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeprMes)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.DeprMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeprAno)
        </dt>

        <dd>
            R$ @Html.DisplayFor(model => model.DeprAno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DataCadastro))
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <!--TODO: enviar valores excluir máquina controller-->
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
