
@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewMaquina
@{
    ViewBag.Title = "Máquinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<div class="main-body">
    <div class="row">
        <div class="col">
            <div class="tablecontainer">

                <div class="row">
                    <div class="col-6">
                        <div class="table-data__tool">
                            <h6 class="body-title">Máquina</h6>
                            <div class="selectdropdown">
                                <select class="js-select2" name="property">
                                    <option selected="selected">Todas as propriedades</option>
                                    <option value="">Opção 1</option>
                                    <option value="">Opção 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>

                            <div class="selectdropdown">
                                <select class="js-select2 ui dropdown" name="time">
                                    <option selected="selected">Todos</option>
                                    <option value="">Hoje</option>
                                    <option value="">Essa semana</option>
                                    <option value="">Este mês</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="card-text">
                            <a class="popup btn btn-add" href="/Sistema/Maquina/Create">Nova maquina</a>
                        </p>
                    </div>
                </div>
                <div class="card table-card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table-hover">
                                <thead class="thead-title">
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">DataCadastro</th>
                                        <th scope="col">ValorCadastro</th>
                                        <th scope="col">VidaUtil</th>
                                        <th scope="col">DepreciacaoAno</th>
                                        <th scope="col">DepreciacaoMensal</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Maquina)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DataCadastro)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ValorInicial)</td>
                                            <td>@Html.DisplayFor(modelItem => item.VidaUtil)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DeprAno)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DeprMes)</td>
                                            <td>
                                                <a class="popup btn" href="@Url.Action("Detalhes", "Maquina", new { id = item.IdEstoque })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Maquina", new { id = item.IdEstoque })"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Maquina", new { id = item.IdEstoque })"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/modalui.js"></script>
}