@model OrganWeb.Areas.Sistema.Models.ViewModels.ViewPragaControle
@using PagedList.Mvc;
@{
    ViewBag.Title = "Pragas e doenças";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<section class="section">
    <div class="tablecontainer">
        <div class="section-header">
            <h1>Controle de pragas e doenças</h1>
        </div>
        <div class="section-body">
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Pragas e doenças</h4>
                            <div class="card-header-form">
                                <a class="popup btn btn-primary btn-add" href="/Sistema/PragaDoenca/Create">Nova praga/doença</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Tipo</th>
                                        <th>Áreas</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model.PragaOrDoencas)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Areas)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>
                                                <a class="popup btn" href="@Url.Action("Detalhes", "PragaDoenca", new { id = item.Id })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "PragaDoenca", new { id = item.Id})"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "PragaDoenca", new { id = item.Id})"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </table>

                                <div class="card-footer text-center">
                                    <nav class="d-inline-block">
                                        Página @(Model.PragaOrDoencas.PageCount < Model.PragaOrDoencas.PageNumber ? 0 : Model.PragaOrDoencas.PageNumber) de @Model.PragaOrDoencas.PageCount
                                        @Html.PagedListPager(Model.PragaOrDoencas, pagedoenca => Url.Action("Index",
                                        new { pagedoenca }), new PagedListRenderOptions
                                         {
                                         LiElementClasses = new string[] { "pagination page-item page-link text-center p1" }
                                         })
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Controles</h4>
                            <div class="card-header-form">
                                <a class="popup btn btn-primary btn-add" href="/Sistema/Controle/Create">Novo controle</a>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <th>Data</th>
                                        <th>Nome</th>
                                        <th>Status</th>
                                        <th>Eficiência</th>
                                        <th>Liberações</th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model.Controles)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Data)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Eficiencia)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Liberacoes)</td>
                                            <td>
                                                <a class="popup btn" href="@Url.Action("Detalhes", "Controle", new { id = item.Id })"><div class="itemback"><i class="item fa fa-info"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Editar", "Controle", new { id = item.Id})"><div class="itemback"><i class="item far fa-edit"></i></div></a>
                                                <a class="popup btn" href="@Url.Action("Excluir", "Controle", new { id = item.Id})"><div class="itemback"><i class="item far fa-trash-alt"></i></div></a>
                                            </td>
                                        </tr>
                                    }
                                </table>

                                <div class="card-footer text-center">
                                    <nav class="d-inline-block">
                                        Página @(Model.Controles.PageCount < Model.Controles.PageNumber ? 0 : Model.Controles.PageNumber) de @Model.Controles.PageCount
                                        @Html.PagedListPager(Model.Controles, pagecont => Url.Action("Index",
                                        new { pagecont }), new PagedListRenderOptions
                                         {
                                         LiElementClasses = new string[] { "pagination page-item page-link text-center p1" }
                                         })
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.0.5/dist/jBox.all.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/modalui.js"></script>
}