@model OrganWeb.Areas.Ecommerce.Models.ViewModels.ViewLoja
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Ecommerce";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ecommerce</title>
</head>
<body>

    <!--Main slide-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Imagens/ecommerce/slide5.jpg" alt="Primeiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <div class="tr-promotion">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="promotion" style="background-image: url(~/Imagens/ecommerce/);">
                        <div class="promotion-info">
                            <h1>Produtos <span>frescas</span></h1>
                            <p>Frutas, legumes e vegetais sepados e escolhidos para serem consumidos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="promotion" style="background-image: url(images/bg/promotion2.png);">
                        <div class="promotion-info">
                            <h1>Máquinas <span>eficientes</span></h1>
                            <p>Equipamentos potentes que possibilitam uma produção rápida e eficiente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="promotion" style="background-image: url(images/bg/promotion3.png);">
                        <div class="promotion-info">
                            <h1>Grãos de<span>qualidade</span></h1>
                            <p>Grãos selecionados diretamente pelos melhores agricultores do país.</p>
                        </div>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!--Info-->
    <!--Info-->
    <!--PRODUTOS-->

    <div class="container md-margin-top-50px">
        <div class="biolife-title-box">
            <span class="promotion-info">Últimos adicionados</span>
            <h3 class="main-title">Novidades</h3>
        </div>

        <div class="row">

            <!-- product -->
            @foreach (var item in Model.AnunciosRecentes)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="@Url.Action("Detalhes", "Anuncio", new { id = item.Id })" class="img-prod">
                            <img src="@Url.Action("FotoDoAnuncio", "Loja", new { Area = "Ecommerce", anuncio = item.Id })" alt="">
                            @if (item.Desconto > 0)
                            {
                                <span class="status">-@Html.DisplayFor(modelItem => item.Desconto)%</span>
                            }
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <p class="product-category">@Html.DisplayFor(model => item.Produto.Categorias.Where(x => x.Value == item.Produto.Categoria.ToString()).First().Text)</p>
                            <h3 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Nome)<br /><i class="icon-room"></i>@Html.DisplayFor(modelItem => item.Anunciante.Endereco.Logradouro.Bairro.Cidade.Nome) - @Html.DisplayFor(modelItem => item.Anunciante.Endereco.Logradouro.Bairro.Cidade.Estado.UF)</a></h3>
                            <div class="product-rating">
                                @for (var i = 1; i <= item.Estrelas; i++)
                                {
                                    <i class="mdi mdi-star"></i>
                                }
                                @if (item.Estrelas < 5)
                                {
                                    for (var i = 1; i <= (5 - item.Estrelas); i++)
                                    {
                                        <i class="mdi mdi-star-outline"></i>
                                    }
                                }
                            </div>
                            <div class="d-flex">
                                <div class="pricing">
                                    @if (item.Desconto > 0)
                                    {
                                        double valornovo = Math.Round(item.Produto.ValorUnit - ((item.Produto.ValorUnit * item.Desconto) / 100), 2, MidpointRounding.ToEven);

                                        <p class="price"><span class="mr-2 price-dc">R$ @Html.DisplayFor(modelItem => item.Produto.ValorUnit)</span><span class="price-sale">R$ @valornovo</span></p>

                                    }
                                    else
                                    {
                                        <p class="price">
                                            <span class="price-sale">
                                                R$ @Html.DisplayFor(modelItem => item.Produto.ValorUnit)
                                            </span>
                                        </p>
                                    }
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    @if (Request.IsAuthenticated && item.Anunciante.IdUsuario == User.Identity.GetUserId())
                                    {
                                        <a href="@Url.Action("Detalhes", "Anuncio", new { id = item.Id })" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="mdi mdi-information-outline"></i></span>
                                        </a>
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("AddWishlist", "Wishlist", new { idAnuncio = item.Id }, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken();
                                            <button type="submit" value="@item.Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="mdi mdi-cards-heart"></i></span>
                                            </button>
                                        }
                                        using (Html.BeginForm("AddAoCarrinho", "Carrinho", new { idAnuncio = item.Id }, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken();
                                            <button type="submit" value="@item.Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span><i class="mdi mdi-cart-plus"></i></span>
                                            </button>
                                        }
                                        <a href="@Url.Action("Detalhes", "Anuncio", new { id = item.Id })" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="mdi mdi-information-outline"></i></span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->
            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-block-27">

                    <ul>

                        Página @(Model.AnunciosRecentes.PageCount < Model.AnunciosRecentes.PageNumber ? 0 : Model.AnunciosRecentes.PageNumber) de @Model.AnunciosRecentes.PageCount

                        @Html.PagedListPager(Model.AnunciosRecentes, pagenovos => Url.Action("Index",
                            new { pagenovos }), new PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "pagination page-item p1" }
                            })

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    
    <!--PRODUTOS-->
    <!---->
    <section class="section-bg-white">
        <br><br>
            <div class="container md-margin-top-50px">
                <div class="biolife-title-box">
                    <span class="promotion-info">Em desconto</span>
                    <h3 class="main-title">Promoção</h3>
                </div>

                <div class="row">
                    @foreach (var item in Model.AnunciosComDesconto)
                    {
                        <div class="col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="@Url.Action("Detalhes", "Anuncio", new { id = item.Id })" class="img-prod">
                                    <img src="@Url.Action("FotoDoAnuncio", "Loja", new { Area = "Ecommerce", anuncio = item.Id })" alt="">
                                    @if (item.Desconto > 0)
                                    {
                                        <span class="status">-@Html.DisplayFor(modelItem => item.Desconto)%</span>
                                    }
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <p class="product-category">@Html.DisplayFor(model => item.Produto.Categorias.Where(x => x.Value == item.Produto.Categoria.ToString()).First().Text)</p>
                                    <h3 class="product-name"><a href="#">@Html.DisplayFor(modelItem => item.Nome)<br /><i class="icon-room"></i>@Html.DisplayFor(modelItem => item.Anunciante.Endereco.Logradouro.Bairro.Cidade.Nome) - @Html.DisplayFor(modelItem => item.Anunciante.Endereco.Logradouro.Bairro.Cidade.Estado.UF)</a></h3>
                                    <div class="product-rating">
                                        @for (var i = 1; i <= item.Estrelas; i++)
                                        {
                                            <i class="mdi mdi-star"></i>
                                        }
                                        @if (item.Estrelas < 5)
                                        {
                                            for (var i = 1; i <= (5 - item.Estrelas); i++)
                                            {
                                                <i class="mdi mdi-star-outline"></i>
                                            }
                                        }
                                    </div>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            @if (item.Desconto > 0)
                                            {
                                                double valornovo = Math.Round(item.Produto.ValorUnit - ((item.Produto.ValorUnit * item.Desconto) / 100), 2, MidpointRounding.ToEven);

                                                <p class="price"><span class="mr-2 price-dc">R$ @Html.DisplayFor(modelItem => item.Produto.ValorUnit)</span><span class="price-sale">R$ @valornovo</span></p>

                                            }
                                            else
                                            {
                                                <p class="price">
                                                    <span class="price-sale">
                                                        R$ @Html.DisplayFor(modelItem => item.Produto.ValorUnit)
                                                    </span>
                                                </p>
                                            }
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            @if (Request.IsAuthenticated && item.Anunciante.IdUsuario == User.Identity.GetUserId())
                                            {
                                                <a href="@Url.Action("Detalhes", "Anuncio", new { id = item.Id })" class="heart d-flex justify-content-center align-items-center ">
                                                    <span><i class="mdi mdi-information-outline"></i></span>
                                                </a>
                                            }
                                            else
                                            {
                                                using (Html.BeginForm("AddWishlist", "Wishlist", new { idAnuncio = item.Id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken();
                                                    <button type="submit" value="@item.Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                        <span><i class="mdi mdi-cards-heart"></i></span>
                                                    </button>
                                                }
                                                using (Html.BeginForm("AddAoCarrinho", "Carrinho", new { idAnuncio = item.Id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken();
                                                    <button type="submit" value="@item.Id" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                        <span><i class="mdi mdi-cart-plus"></i></span>
                                                    </button>
                                                }
                                                <a href="@Url.Action("Detalhes", "Anuncio", new { id = item.Id })" class="heart d-flex justify-content-center align-items-center ">
                                                    <span><i class="mdi mdi-information-outline"></i></span>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->
                    }
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                Página @(Model.AnunciosRecentes.PageCount < Model.AnunciosRecentes.PageNumber ? 0 : Model.AnunciosRecentes.PageNumber) de @Model.AnunciosRecentes.PageCount

                                @Html.PagedListPager(Model.AnunciosRecentes, pagedesc => Url.Action("Index",
                                    new { pagedesc }), new PagedListRenderOptions
                                    {
                                        LiElementClasses = new string[] { "pagination page-item p1" }
                                    })
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        <br><br>
    </section>
        
</body>
</html>
